* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-size: 15px;
  background-color: hsl(212, 45%, 85%);
  min-height: 100vh;
  font-family: Outfit;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}
p {
  color: hsl(220, 15%, 55%);
  padding: 0 10px;
}
.qr-card {
  background-color: hsl(0, 0%, 100%);
  color: hsl(218, 44%, 22%);
  max-width: 320px;
  width: 90%;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}
